[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
cytoolz = "*"
ed25519 = "*"
hypothesis = "*"
mitmproxy = "*"
mypy_extensions = "*"
pipenv = "*"
rsa = "*"
sanic = "*"
typing_extensions = "*"

[dev-packages]
flake8 = "*"
flake8-mypy = "*"
ipython = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
